@import "tailwindcss";

@theme{
    --color-primary : #CC0010;
    --color-indigo : #190038;

}

@layer components {

.mesh-gradient {
  background:
    radial-gradient(ellipse at top left, #ff0040 0%, transparent 15%),
    radial-gradient(ellipse at bottom right, #ff2000 0%, transparent 50%),
    radial-gradient(ellipse at bottom left, #3d00cc 0%, transparent 60%),
    #0a0015;
}

    .dark {
        @apply bg-gray-900 text-white;
    }
}